* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: sans-serif;
    font-size: .7rem;
    margin: 0;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}
.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navigation-item a {
    color: #fff;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}
.navigation-item a:hover {
    color: rgb(81, 0, 255);
}
.navigation-item a.active {
    color: #ffa600;
}

header, aside, main, footer {
    padding: 16px;
    text-align: center;
}
header {
    height: 100%;
    grid-area: header;
    background-color: #521751;
}
aside {
    grid-area: nav;
    background-color: #fa923f;
}
main {
    grid-area: main;
    background-color: #ff6d04;
}
footer {
    grid-area: footer;
    background-color: #000;
}